@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100vh;
}

.headingXL {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.headingL {
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
}

.headingM {
  font-size: 15px;
  line-height: 19px;
  font-weight: bold;
}
.headingS {
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  letter-spacing: 2.4px;
}
.bodyL {
  font-size: 13px;
  line-height: 23px;
  font-weight: medium;
}
.bodyM {
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
